body {
    background-image: url('assets/bgi.jpg');
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 524px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1100px;
    color: rgb(231, 154, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif; 
}

main {
    background-color: rgba(0, 0, 0, 0.637);
    padding: 10px;
}

#warning {
    color: rgb(253, 78, 55);
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

#username{
    font-size: 16pt;
    text-align: right;
}

.superscript, .subscript {
    font-size: .75em;
    position: relative;
}

.superscript {
    vertical-align: super;
}

.subscript {
    vertical-align: sub;
}

#ask{
    margin: 40px auto;
    padding: 15px;
    padding-top: 3px;
    margin-top: 10px;
}

.question.text {
    font-size: 16pt;
    margin-top: 0px;
    font-weight: bold;
}

.question.checkbox:checked + label{
    background-color: beige;
    color: black;
}

.question.checkbox {
    display: none;
}

.submit{
    margin-top: 15px;
    font-size: 16pt;
}
